<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="memory" class="ru.job4j.beans.xml.MemoryStorageXml"/>
    <bean id="storage" class="ru.job4j.beans.xml.UserServiceXml">
        <constructor-arg ref="memory"/>
    </bean>
</beans>