<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--Servlets-->
    <!--<servlet>-->
        <!--<servlet-name>Halls</servlet-name>-->
        <!--<servlet-class>ru.job4j.controller.HallServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Halls</servlet-name>-->
        <!--<url-pattern>/hall</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--Filters-->
    <!--<filter>-->
        <!--<filter-name>HallsFilter</filter-name>-->
        <!--<filter-class>ru.job4j.filters.HallsFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>HallsFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--Error page-->
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/WEB-INF/jsp/error-page.jsp</location>-->
    <!--</error-page>-->
</web-app>