<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">7313984</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">40</property>
        <!--<property name="hbm2ddl.auto">create</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <!--XML Entity mapping-->
        <mapping class="ru.job4j.car.models.Car"/>
        <mapping class="ru.job4j.car.models.Engine"/>
        <mapping class="ru.job4j.car.models.Transmission"/>
        <mapping class="ru.job4j.car.models.CarBody"/>
    </session-factory>
</hibernate-configuration>