<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">7313984</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <mapping resource="ru/job4j/todo/models/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>